body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font);
    margin: var(--spacing-md) 160px;
}

h1 {
    font-size: var(--font-titles);
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: var(--font-text);
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: var(--font-text);
    font-weight: 600;
    margin: 0;
}

p {
    font-size: var(--font-text);
}

.app {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}